# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.git
.vscode
.DS_Store
build/

# Keep build/ ignored but allow OBJ/MTL assets in assets/ to be tracked
!assets/*.obj
!assets/*.mtl
